/*
 * Globals
 */


/* Custom default button */
/* .btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */


/*
 * Base structure
 */
header{
  position: sticky;
}
body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

}

.cover-container {
  width:100%;
  /* max-width: 42em; */
  background-image: url('../images/home-gif.gif');
  background-repeat: no-repeat;
  background-size: cover;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.navbar{
  display: none;
}
.nav-item a{
  color: #fff;
}
main{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  /* color: black; */
}
main h3{
  display: none;
}
.lead .btn-sm{
  display: none;
}
.vitmain{
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
}
.seconddiv{
  width: 100%;
  height: 100%;
}
img{
  align-items: center;
  width: 300px;
  border-radius: 10px;
  height: 500px;
}
.carousel{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.carousel-item{
  height: 800px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 66%;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
  top: 76%;
}
.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: -40%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
} 
@media screen and (max-width:600px) {
  .mainheader{
    display: none;
  }
  .navbar{
    display: flex;
  }
  .cover-container {
    width:100%;
    /* max-width: 42em; */
    background-image: url('../images/home-gif.gif');
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: bottom;
  }
  main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  main h1{
    display: none;
  }
  main h3{
    display: block;
  }
  .lead{
    font-size: 0.8em;
  }
  .lead .btn-sm{
    display: inline;
  }
  .lead .btn-lg{
    display: none;
  }
  .carousel{
    width:80%;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-item{
    height: 100%;
  }
  .carousel-caption {
      position: absolute;
      right: 15%;
      bottom: 1.25rem;
      left: 15%;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      color: #fff;
      text-align: center;
      top: 60%;
  }
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
    top: 96%;
  }
  .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: -10%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
  }
  img{
    align-items: center;
    width: 300px;
    border-radius: 10px;
    height: 180px;
  }
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  /* background-color: linear-gradient(
    #c850d0,
    #dcc532,
    #7c44de,
  ); */
  background-color: #7c44de;
  border-radius: 4px;
}
