@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.nav-masthead .nav-link {
    color: white;
    border-bottom: 0.25rem solid #94B3FD;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
/* h3 .float-md-start{
  float: left;
} */
main{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  /* display:flex;
  justify-content: center;
  align-items: center; */
  /* min-height: 100vh; */
  /* background-color: #333; */
  /* overflow-y: scroll; */
  overflow-x: hidden;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
.vitclub{
  background-color: #94B3FD;
}
.cover-container{
  width:100%;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.div1.card{
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  border: 0px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  background-color: inherit;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}

.div1.card .circle
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  border-radius: 20px;
  overflow: hidden;
}
.div1.card .circle::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background: #0065c3;
  clip-path: circle(120px at center);
  transition: 0.5s;
}
.div1.card:hover .circle::before
{
  background: #9900F0;
  clip-path: circle(400px at center);
}
.div1.card img{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 475px;
  pointer-events: none;
  transition: 0.5s;
}
.div1.card:hover img{
  left: 85%;
  height: 400px;
} 
.div1.card .content
{
  position: relative;
  width:50%;
  left: 10%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
}
.div1.card:hover .content
{
  position: relative;
  left: -25%;
  opacity:1;
  visibility: visible;
}
.div1.card .content h2
{
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 2px;
}
.div1.card .content p
{
  color: #fff;
}
.div1.card .content a
{
  position: relative;
  padding:10px 20px;
  border-radius: 10px;
  background: #fff;
  color: #111;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}
.nav-link .active{
  text-decoration: underline;
  border-bottom: 0.25rem solid white;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  /* background-color: linear-gradient(
    #c850d0,
    #dcc532,
    #7c44de,
  ); */
  background-color: #3c83ca;
  border-radius: 4px;
}
@media(max-width:990px) {
  .div1.card {
    width: 100%;
    height: 100%;
    max-width: 350px;
    align-items: flex-start;
  }

  .div1.card:hover {
    height: 600px;
  }

  .div1.card .content {
    top: -25%;
    width: 80%;
    left: 10%;
    padding: 30px;
    overflow-wrap: break-word;
  }
  .div1.card:hover .content {
    margin-top: 50%;
    width: 100%;
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .div1.card:hover img {
    top: 83%;
    left: 50%;
    height: 270px;
  }
  .div1.card img{
    height: 355px;
  }
  #events2 .row{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #events2 .card{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

